
    .main-nav{
        margin-top: 20px;
        justify-content: center;
        align-items: center;
     }
     
     .nav-links {
        flex-basis: 730px;
     }
     .nav-links ul{
        justify-content: end;
        gap: 40px;
    
    
    
    
    }